<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/result" method="POST">
        <div class="container">
          <h2>Sign Up</h2>
          <label for="username"><b>NAME<br></b></label>
          <input type="text" placeholder="Enter name" name="username" required><br>
      
          <label for="department"><b>DEPT<br></b></label>
          <input type="text" placeholder="Enter dept" name="department" required><br>
          <label for="email"><b>Email<br></b></label>
          <input type="text" placeholder="Enter email" name="email" required><br>
          <!-- <label for="username"><b>CONTACTNO<br></b></label>
          <input type="text" placeholder="Enter contactno" name="username" required><br> -->
      
          <label for="reason"><b>Reason<br></b></label>
          <input type="password" placeholder="Enter Reason" name="Reason" required><br>
          <div class="clearfix">
           
            <button onclick="window.location.href='/result';">Apply</button>
          </div>
        </div>
      </form>
</body>
</html>